/* Layout Containers */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 min(5vw, var(--space-3xl));
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
    gap: min(5vw, var(--space-3xl));
}

.grid > * > :first-child {
    margin-block-start: 0;
}

.grid > * > :last-child {
    margin-block-end: 0;
}

/* Cards */
.grid:has(.card) {
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: var(--space-xl);
}
.card {
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: var(--shadow-sm);
    transition: all var(--transition);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
}

.card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card[data-lightbox] {
    cursor: pointer;
}

.card__content {
    padding: var(--space-xl);
}

.card__content > :last-child {
    margin-block-end: 0;
}

/* Sections */
.section {
    padding: max(6vh, var(--space-3xl)) 0;
    /* overflow: hidden; */
}

.section .container > h2 {
    text-align: center;
}

.section .container > h2:has(+ p) {
    margin-bottom: 0;
}

.section .container > h2 + p {
    text-align: center;
    max-width: 65ch;
    font-size: var(--font-md);
    margin: var(--space-md) auto var(--space-2xl) auto;
    text-wrap: balance;
}