/* Utility Classes */
.text-center {
    text-align: center;
}

.text-balance {
    text-wrap: balance;
}

.bg-light {
    background-color: var(--light-cream);
}

.bg-mid {
    background-color: var(--cream);
}

.bg-dark {
    background-color: var(--dark-grey);
}

.bg-brand {
    /* background-color: var(--brand); */
    background: linear-gradient(250deg, var(--brand), var(--brand-mid));
}

.bg-dark, .bg-brand {
    --color--theme-text: var(--white);
    *:not(.btn) {
        color: var(--color--theme-text);
    }
    a:not(.btn) {
        color: inherit;
    }
}

/* Buttons */
.btn {
    background-color: var(--brand);
    color: var(--white);
    padding: var(--space-sm) var(--space-lg);
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: var(--radius-sm);
    transition: all var(--transition);
    display: inline-block;
    box-shadow: var(--shadow-md);
    cursor: pointer;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
}

.btn:hover {
    background: var(--brand-mid);
    transform: translateY(-3px);
    box-shadow: var(--shadow-lg);
}

.btn--inverted {
    background: var(--white);
    color: var(--brand);
}

.btn--inverted:hover {
    background: var(--cream);
}

.btn--large {
    padding: var(--space-lg) var(--space-2xl);
    font-size: var(--font-md);
}

.btn--full {
    width: 100%;
    white-space: initial;
}


/* Misc */
.highlight {
    color: var(--brand);
    font-weight: 600;
}


/* Screen Reader Only */
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}


.tick-list {
    list-style: none;
    padding: 0;
    margin-bottom: var(--space-lg);
    font-weight: 600;
    color: var(--brand);
    font-size: var(--font-md);
    line-height: 1.75;
}

.tick-list li {
    display: flex;
    align-items: baseline;
}

.tick-list li::before {
    content: "✓";
    margin-right: var(--space-sm);
}