<!-- About -->
<section class="section section-about bg-light">
    <div class="container">
        <div class="grid">
            <img class="section-about__image" src="{{ about.image }}" alt="{{ about.imageAlt }}" loading="lazy" width="500" height="500">
            <div class="section-about__text">
                <p>{{ about.intro | markdown | safe }}</p>

                <p>{{ about.servicesOffered | markdown | safe }}</p>

                <ul class="tick-list">
                    {% for qualification in about.specialQualifications %}
                    <li>{{ qualification }}</li>
                    {% endfor %}
                </ul>

                <button class="btn btn--full" data-dialog="aboutDialog">{{ about.readMoreButtonText }}</button>

            </div>
        </div>
        <dialog class="section-about__dialog bg-mid" id="aboutDialog" aria-labelledby="aboutDialogTitle">
            <div class="section-about__dialog-content">
                <button class="section-about__dialog-close btn" aria-label="Close dialog" data-close>&times;</button>
                <h2 id="aboutDialogTitle" class="sr-only">About Deborah Lyon</h2>
                {{ about.expandedContent | markdownFull | safe }}
                <button class="section-about__dialog-close-text btn btn--full" data-close>Close</button>
            </div>
        </dialog>
    </div>
</section>
