<!-- Benefits -->
<section class="section section-benefits bg-light" id="benefits">
    <div class="container">
        <div class="grid">
            <div>
                <h2 class="section-benefits__box-title">{{ benefits.heading }}</h2>
                {{ benefits.intro | markdownFull | safe }}
            </div>
            <img src="{{ benefits.image }}" alt="{{ benefits.imageAlt }}" class="section-benefits__image">
        </div>

        <div class="section-benefits__box bg-mid">
            <h3 class="section-benefits__box-title text-center">{{ benefits.listHeading }}</h3>
            <ul class="tick-list section-benefits__list">
                {% for benefit in benefits.list %}
                <li>{{ benefit }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
