<!-- Book Now -->
<section class="section section-book bg-brand">
    <div class="container">
        <h2>{{ site.taglines.bookNowHeading }}</h2>
        <p class="text-balance">{{ site.taglines.bookNowDescription }}</p>
        <a href="{{ site.contact.bookingUrl }}" class="btn btn--inverted" target="_blank" rel="noopener noreferrer">Book Now</a>
    </div>
</section>
