<!-- Book Now -->
<section class="book-now bg-brand">
    <div class="container">
        <h2>{{ site.taglines.ctas.bookNow.heading }}</h2>
        <p class="text-balance">{{ site.taglines.ctas.bookNow.description }}</p>
        <a href="{{ site.contact.bookingUrl }}" class="btn btn--inverted" target="_blank" rel="noopener noreferrer">Book Now</a>
    </div>
</section>
