<!-- Gallery -->
<section class="section bg-light">
    <div class="container">
        <h2>{{ gallery.heading }}</h2>
        <div class="feature-grid">
            {% for image in gallery.images %}
            <div class="card card--image-only" onclick="openLightbox('{{ image.src }}')"><img src="{{ image.src }}" alt="{{ image.alt }}"></div>
            {% endfor %}
        </div>
    </div>
</section>
