<!-- Gift Panel -->
<section class="section section-gift bg-brand">
    <div class="container">
        <div class="section-gift__content">
            <img src="img/gift.png" alt="" class="section-gift__icon">
            <p class="section-gift__text">{{ site.taglines.giftPanelText }}</p>
            <a href="{{ site.contact.giftUrl }}" class="btn btn--inverted" target="_blank" rel="noopener noreferrer">Buy Now</a>
        </div>
    </div>
</section>
