<!-- Hero -->
<section class="hero">
    <div class="container">
        <div class="hero__content">
            <p class="hero__quote">{{ site.taglines.ctas.hero.quote }}</p>
            <a href="{{ site.contact.bookingUrl }}" class="btn" target="_blank" rel="noopener noreferrer">Book Now</a>
        </div>
    </div>
</section>
