<!-- Hero -->
<section class="section section-hero">
    <div class="container">
        <div class="section-hero__content">
            <p class="section-hero__quote">{{ site.taglines.bookNowHeading }}</p>
            <a href="{{ site.contact.bookingUrl }}" class="btn btn--large btn--inverted" target="_blank" rel="noopener noreferrer">Book Now <span class="sr-only">(opens in new tab)</span></a>
        </div>
    </div>
</section>
