/* About */
.section-about .grid {
    grid-template-columns: 1fr 2.25fr;
}

.section-about__image {
    width: 100%;
    height: auto;
    max-width: 360px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    margin: 0 auto;
}

.section-about__text {
    display: grid;
    height: 100%;
}

@media (max-width: 1023px) {
  .section-about .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
  }
}

/* About - Dialog PopUp */
.section-about__dialog {
    border: none;
    border-radius: var(--radius-md);
    padding: 0;
    width: min(85vw, 700px);
    max-height: 85vh;
    box-shadow: var(--shadow-lg);
}

.section-about__dialog::backdrop {
    background: rgba(0, 0, 0, 0.75);
}

.section-about__dialog-content {
    padding: 5rem var(--space-xl) var(--space-xl);
    position: relative;
    max-height: 80vh;
}

.section-about__dialog-close {
    position: absolute;
    top: var(--space-sm);
    right: var(--space-md);
    font-size: var(--font-xl);
    width: var(--font-xl);
    line-height: var(--font-xl);
    height: var(--font-xl);
    border-radius: var(--radius-md);
    cursor: pointer;
    padding: 0;
    transition: background-color var(--transition);
}

.section-about__dialog-close-text {
    margin-block-start: var(--space-xl);
    margin-block-end: var(--space-xl);
}