/* Gift Panel */
.section-gift {
    padding-block: 2rem;
}

.section-gift * {
    margin-block: 0;
}

.section-gift__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--space-xl);
    @media (max-width: 1023px) {
        flex-direction: column;
        gap: var(--space-md);
    }
}

.section-gift__icon {
    width: 88px;
    height: 88px;
    filter: invert(1);
    margin-bottom: -10px;
}

.section-gift__text {
    font-size: var(--font-lg);
    font-family: var(--font-family-headings);
    text-wrap: balance;
}
